/* || ANIMATIONS || */

/* || LAYOUT PAGE || */

.main-container{
    height: 100vh;
    background: rgb(194,195,34);
    background: linear-gradient(180deg, rgba(194,195,34,1) 36%, rgba(253,205,45,1) 94%);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
    "header nav";
}

.head-title{
    grid-area: header;
    margin-left: 2px;
}

.head-title h1{
    font-family: 'Chango', cursive;
}

.head-title p{
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-nav ul{
    grid-area: nav;
    list-style-type: none;
    margin-top: 30px;
}

.main-nav li{
    margin-bottom: 15px;
}

.main-nav a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.main-nav a:active{
    color: yellow;
}

.main-nav{
    display: none;
}

